<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        made by <a href="https://github.com/camandel/web-password-generator">camandel</a> with <a href="https://golang.org">Go</a> and <a href="https://getbootstrap.com">Bootstrap</a>, icon made by <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-slider.min.js"></script>
    <script type='text/javascript'>
        $(document).ready(function() {
                $('#ex1').slider({
                        formatter: function(value) {
                        return value;
                        }
                });
                $('#ex2').slider({
                        formatter: function(value) {
                        return value;
                        }
                });
                $('#ex3').slider({
                        formatter: function(value) {
                        return value;
                        }
                });

        });
    </script>
